<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.ttu.a103944.shopandr">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherr"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopClnt">

        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/Theme.ShopClnt.Main"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.ProductListActivity"/>

        <activity android:name=".ui.activity.FilterActivity" />
        <activity android:name=".ui.activity.FilterOptionsActivity" />
        <activity android:name=".ui.activity.ActivitySort" />
        <activity android:name=".ui.activity.ItemActivity" />
        <activity
            android:name=".ui.activity.BasketListActivity"
            android:theme="@style/SampleTheme.Light" />
        <activity android:name=".ui.activity.OrdersActivity" />
        <activity android:name=".ui.activity.OrderActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />

    </application>

</manifest>
